<div class="about-banner">
  <div class="content">
    <div class="overlay" style="background: url('/meta/page_bg_02.png')"></div>
    <div class="text-wrapper">
      <div class="main-title">
        <span class="no-wrap">
          인하대학교 No.1 창업동아리
        </span>
        <span class="no-wrap">
          <span class="highlight-text">인하벤처클럽</span>입니다!
        </span>
      </div>
      <br/>
      <div class="description">
        <span class="no-wrap">
          '<span class="highlight-text">창업</span>'을 꿈꾸는 그대여,
        </span>
        <span class="no-wrap">
          <span class="highlight-text">인하벤처클럽</span>으로 오라!
        </span>
      </div>
    </div>
  </div>
</div>
