<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        인하대학교 No.1 창업 동아리,
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <span class="highlight-text">인하벤처클럽</span>팀이 운영하는
                    </span>
                    <span class="no-wrap">
                        블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        인하벤처클럽의 다양한 이야기를 공유하고 있습니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
